.center {
  max-width: 500px;
  margin: auto;
  font-family:courier;
}

.small_mar {
  margin-bottom: 10px;
}
.header {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.to_right {
  float: right;
  clear: both;
}


