body
{
  background-color: #a8a396;
}

#container
{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ded9cc;
  font-size: 25px;
}

#header
{
  color: #4a4a40;
  font-size: 50px;
  letter-spacing: 4px;
  font-weight: 900;
  padding: 20px;
  text-align: center;
  background-color: #8a6b7f;
}

#footer
{
  padding: 10px;
  margin-top: 100px;
  text-align: center;
  background-color: #8a6b7f;
}

table
{
  font-family:courier;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
}

td
{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.attribute
{
  font-weight: bold;
}

img
{
  height: 500px;
  width: 500px;
  margin-left: 20px;
  margin-bottom: 20px;
  float: left;
  padding-left: 23px;
  padding-right: 23px;
}

.row
{
  padding: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.title
{
  font-size: 35px;
  font-weight: bold;
  padding: 25px;
  text-align: center;
  background-color: #ccbec7;
  margin-bottom: 20px;
}

.project
{
  font-size: 42px;
  background-color: #8a6b7f;
  font-weight: bold;
  text-align: center;
  color: #4a4a40;
  padding: 10px;
}

#box
{
  margin-left: 300px;
}

input
{
  height: 30px;
  border-radius: 7px;
  width: 200px;
  margin-bottom: 10px;
}

select
{
  width: 200px;
  height: 30px;
  text-align: center;
  border-radius: 7px;
}
