
body
{
  background-color: #a8a396;
}

#container
{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ded9cc;
  font-size: 20px;
}

#header
{
  color: #4a4a40;
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 900;
  padding: 30px;
  text-align: center;
}

#footer
{
  padding: 50px;
}

table
{
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
}

td
{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.attribute
{
  font-weight: bold;
}

img
{
  height: 500px;
  width: 500px;
  margin-left: 330px;
  margin-right: 330px;
}

.row
{
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.title
{
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  color: #068a06;
}