<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

<div class="center">
<p class="header"> Dzielnica: {{ loc }} -  statystyki</p>
    <p small_mar> Liczba obecnych ofert: {{ off }} ({{ off_ratio }} % wszystkich ofert w Krakowie )</p>
    <p small_mar> Średnia cena: {{ avg }} (średnia cena w Krakowie: {{ all_avg }})</p>

<img src={{ boxplot }}  height="500" width="500">
</div>
</body>
</html>