<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

<div id="container">
    <div id="header">
        Statystyki dzielnicy: {{ loc }}
    </div>

    <div id="content">

        <table>
            <tr>
                <td class="attribute">
                    Liczba obecnych ofert:
                </td>
                <td class="data">
                    {{ off }}
                </td>
            </tr>

            <tr>
                <td class="attribute">
                    Procent wszystkich ofert w Krakowie:
                </td>
                <td class="data">
                    {{ off_ratio }}%
                </td>
            </tr>

            <tr>
                <td class="attribute">
                    Średnia cena:
                </td>
                <td class="data">
                    {{ avg }} PLN
                </td>
            </tr>

            <tr>
                <td class="attribute">
                    Średnia cena w Krakowie:
                </td>
                <td class="data">
                    {{ all_avg }} PLN
                </td>
            </tr>
        </table>

        <div class="row">
            <img src={{ boxplot }}>
        </div>
    </div>
</div>

</body>
</html>