<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

<div id="container">
    <div id="header">
        Statystyki dzielnicy: {{ loc }}
    </div>

    <div id="content">
        <div class="title">
                Informacje ogólne
        </div>
        <table>
            <tr>
                <td class="attribute">
                    Liczba obecnych ofert:
                </td>
                <td class="data">
                    {{ off }}
                </td>
            </tr>

            <tr>
                <td class="attribute">
                    Procent wszystkich ofert w Krakowie:
                </td>
                <td class="data">
                    {{ off_ratio }}%
                </td>
            </tr>
        </table>

        <div class="title">
                Porównanie ceny za metr kwadratowy dla dzielnicy w stosunku do Krakowa
        </div>
        <table>
              <tr>
                  <th></th>
                  <th> Q1 </th>
                  <th> Średnia </th>
                  <th> Mediana </th>
                  <th> Q4 </th>
                </tr>
                <tr>
                    <td class="attribute">
                             {{ loc }}
                    </td>
                <td class="data">
                    {{ q1 }} PLN
                </td>
                <td class="data">
                    {{ avg_ratio }} PLN
                </td>
                <td class="data">
                    {{ med }} PLN
                </td>
                <td class="data">
                    {{ q3 }} PLN
                </td>
            </tr>
            <tr>
                <td class="attribute">
                    Kraków
                </td>
                <td class="data">
                    {{ all_q1 }} PLN
                </td>
                <td class="data">
                    {{ all_avg_price_ratio }} PLN
                </td>
                <td class="data">
                    {{ all_med }}  PLN
                </td>
                <td class="data">
                    {{ all_q3 }} PLN
                </td>
            </tr>

        </table>

        <div class="title">
                Wizualizacja danych
        </div>
        <div class="row">
            <img src={{ boxplot }}>
        </div>
        <div class="row">
            <img src={{ price_plot }}>
        </div>
        <div class="row">
            <img src={{ room_plot }}>
        </div>
    </div>
</div>

</body>
</html>