<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='main.css') }}">

</head>
<body>

<div id="container">

    <div id="header">
        Eksploracja danych - M. Kędra, M. Rusek
    </div>

    <div id="content">

        <div class="row">
            <div class="title">
                Oszacuj cenę wynajmu mieszkania w Krakowie:
            </div>

            <table>
                <form action="{{ url_for('estimate_cost') }}" method="post">

                    <tr>
                        <td class="attribute">
                            Liczba m^2:
                        </td>
                        <td>
                            <input type="text" name="area" value="{{ request.form['area'] }}">
                        </td>
                    </tr>

                    <tr>
                        <td class="attribute">
                            Liczba pokoi:
                        </td>
                        <td>
                            <input type="text" name="rooms" value="{{ request.form['rooms'] }}">
                        </td>
                    </tr>

                    <tr>
                        <td class="attribute">
                            Dzielnica Krakowa:
                        </td>
                        <td>
                            <select name="chosen_location">
                                {% for location in locations %}
                                    <option value="{{ location }}" >
                                        {{ location }}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>
                        </td>
                        <td>
                            <input type="submit" value="Oszacuj">
                        </td>
                    </tr>
                </form>

                 <tr>
                     <td colspan="2"> {{ predicted }}</td>
                 </tr>
            </table>
        </div>

        <div class="row">
            <div class="title">
                Średnia cena za m^2 w zależności od dzielnicy:
            </div>

            <img src={{plot1}}>
        </div>

        <div class="row">
            <div class="title">
                Wykres przedstawiający liczbę ofert dla każdej z dzielnic:
            </div>

            <img src={{plot2}}>
        </div>

        <div class="row">
            <div class="title">
                Porównanie aktualnej średniej ceny wynajmu na przestrzeni miesięcy w Krakowie z podziałem na 3 zakresy w zależności od powierzchni metrażu (0-38, 38-60, 60-90) m^2
            </div>

            <img src={{plot3}}>
        </div>

        <div class="row">
            <div class="title">
                Szczegółowe statystyki dla wybranej dzielnicy:
            </div>
            <table>
                <form action="{{ url_for('dzielnica') }}" method="post">

                    <tr>
                        <td>
                            Dzielnica:
                        </td>
                        <td>
                            <select name="chosen_location">
                                {% for location in locations %}
                                    <option value="{{ location }}" >
                                        {{ location }}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <input type="submit" value="Pokaż statystyki">
                        </td>
                    </tr>
                </form>
            </table>
        </div>

    </div>

    <div id="footer">

    </div>

</div>

</body>
</html>